# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.PremePayBooks.API.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Rodrigo\RiderProjects\premepay-books-api\.idea\.idea.PremePayBooks.API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
